@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;

}

body {
    background-color: #232323;
}

.nav {
    animation: down 1s;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 20vw;
    grid-auto-flow: column;
}

@keyframes down {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.music {
    padding-top: 30px;
    position: absolute;
    left: 30px;
    display: none;
}

.music button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.music img {
    width: 33px;
    padding: 10px;
}

.musicoff {
    padding-top: 30px;
    position: absolute;
    left: 30px;
}

.musicoff button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.musicoff img {
    width: 33px;
    padding: 10px;
}

/*----------------------------------------------------------------Active part-----------------------------------------------------------------------------*/


.disc img.active {
    animation-play-state: running;
}



/*----------------------------------------------------------------Active part-----------------------------------------------------------------------------*/


.logo {

    margin-top: -100px;
}

.social {
    position: absolute;
    padding-top: 30px;
    right: 30px;
}

.social ul {
    list-style: none;
    display: flex;

}

.social ul li {
    padding: 10px;
    font-size: 33px;

}

.social ul li a {
    color: white;
    transition: .5s;
}

.social ul li a:hover {
    color: bisque;
}

.links {
    display: grid;
    justify-content: center;
    margin-top: -100px;
    z-index: 1;
}

.links ul {
    display: flex;
    list-style: none;
   
}

.links ul li {
    padding-left: 50px;
    font-size: 33px;

    font-family: 'Righteous', cursive;
    letter-spacing: 5px;
}

.links ul li a {
    color: white;
    text-decoration: none;
    transition: .5s;
}

.links ul li a:hover {
    color: bisque;
}

#store {
    animation: left 1s;
}

@keyframes left {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#con {
    animation: right 1s;
}

@keyframes right {
    from {
        opacity: 0;
        transform: translateX(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.disc {
    display: grid;
    justify-content: center;
    padding-top: 50px;
}

.disc img {
    animation: rotate 5s linear infinite;
    animation-play-state: paused
}



@keyframes rotate {

    to {

        transform: rotate(360deg);
    }

}

.discAnim {
    animation: up 1s;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.copyright {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: 'Righteous', cursive;
    color: white;
    text-align: center;
    bottom: 20px;
    animation: upc 1s;
}

@keyframes upc {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}




@media only screen and (max-width:640px) {
    .music img {
        width: 10vw;
    }

    .musicoff img {
        width: 10vw;

    }

    .social ul li {
        font-size: 7vw;
    }

    .disc {}

    .disc img {
        width: 70vw;
    }

    .logo img {
        width: 50vw;
        margin-top: 100px;
    }

    .social {
        width: 20vw;
    }

    .links {
       
        margin-top: -40px;
    }
    .links ul li{
        font-size: 5vw;
        padding-left: 30px;
    }
}